<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8" />
		<title>Email Template</title>
	</head>
	<body>
		<h1
			th:text="${title}"
			style="color: orange"
		></h1>
		<p
			th:text="${content}"
			style="font-weight: 700; font-size: 20px; color: #333"
		></p>
		<p>
			<!-- <a
				th:href="@{${link}}"
				style="background-color: orange; color: #fff; padding: 10px 20px; text-decoration: none"
				>Click here to verify your account</a
			> -->
		</p>
		<p
			style="
				font-size: 14px;
				color: #333;
				font-weight: 500;
				margin-top: 20px;
				margin-bottom: 20px;
			"
		>
			Este codigo estara disponible hasta las 23:00 UTC del dia de hoy.
		</p>
		<span style="font-size: small; color: #333">
			Este es un correo de prueba, por favor no responder a este correo.
		</span>
		<img
			src="https://th.bing.com/th/id/OIP.-OkQjzYwFtRq0rEOqAvRZAHaEp?pid=ImgDet&rs=1"
			alt="hotel"
		/>
	</body>
</html>
